@font-face{
	src:url(../fonts/Helvetica-Neue-Bold.ttf);
	font-family: Helvetica-Neue-Bold;
}
/*font-family: 'PT Sans', sans-serif;*/

body{
	font-family: 'PT Sans', sans-serif;
    
}
.common-margin{
	margin-top: 10px;
}
/*Dragable Start*/
#dragg { width: 150px;
 height: 150px; 
 padding: 0.5em;
 }


  /*select menu statr*/
  fieldset {
      border: 0;
    }
    label {
      display: block;
      margin: 30px 0 0 0;
    }
    .overflow {
      height: 200px;
    }

    /*Color animation start*/

    .toggler { width: 500px; height: 200px; position: relative; }
    #button { padding: .5em 1em; text-decoration: none; }
    #effect { width: 240px; height: 170px; padding: 0.4em; position: relative; background: #fff; }
    #effect h3 { margin: 0; padding: 0.4em; text-align: center; }
/*easing start*/
.graph {
    float: left;
    margin-left: 10px;}

    /*dragable start*/
    #draggable { width: 100px; height: 100px; padding: 0.5em; float: left; margin: 10px 10px 10px 0; }
  #droppable { width: 150px; height: 150px; padding: 0.5em; float: left; margin: 10px; }